<nav class="main-nav">
	<ul>
		<li>
			<a href="#" class="has-subnav">
				<i style="height: fit-content;" class="fa fa-home fa-2x"></i>
				<span class="nav-text">Home</span>
			</a>
		</li>
		<li>
			<a href="#" class="has-subnav">
				<i style="height: fit-content;" class="fa fa-user fa-2x"></i>
				<span class="nav-text">Profile</span>
			</a>
		</li>
		<li>
			<a href="#" class="has-subnav">
				<i style="height: fit-content;" class="fa fa-suitcase fa-2x"></i>
				<span class="nav-text">Jobs</span>
			</a>
		</li>
		<li>
			<a href="#" class="has-subnav">
				<i style="height: fit-content;" class="fa fa-envelope fa-2x"></i>
				<span class="nav-text">Messages</span>
			</a>
		</li>
	</ul>
</nav>