<nav class="main-nav">
  <ul>
    <li class="active">
      <a href="home" class="has-subnav">
        <i style="height: fit-content" class="fa fa-home fa-custom"></i>
      </a>
    </li>
    <li>
      <a href="profile" class="has-subnav" active>
        <i style="height: fit-content" class="fa fa-user fa-custom"></i>
      </a>
    </li>
    <li>
      <a href="#" class="has-subnav">
        <i style="height: fit-content" class="fa fa-suitcase fa-custom"></i>
      </a>
    </li>
    <li>
      <a href="#" class="has-subnav">
        <i style="height: fit-content" class="fa fa-envelope fa-custom"></i>
      </a>
    </li>
  </ul>
</nav>
