@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #e2fdf0;
  --main-dark: #e2fdf0;
  --primary-color: #033335;
  --main-light: #292929;
  font-family: "Poppins", sans-serif;
}

.int-icon {
  /* font-size: 1.5rem; */
  /* padding: 0.5em; */
  color: #ffffff;
  transition: 0.3s ease-in-out all;
}

* {
  margin: 0;
  padding: 0;
}

.editor {
  font-size: 1.2rem;
  padding: 1rem;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
}

.userIdHeader {
  /* height: 100%; */
}

.main {
  overflow: hidden;
  height: 92vh;
  display: flex;
}

.main__left {
  flex: 0.9;
  display: flex;
  flex-direction: column;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* background-color: var(--main-dark); */
}

video {
  border-radius: 1rem;
  margin: 0.5rem;
  width: 500px;
  aspect-ratio: 16/9;
  object-fit: cover;
  transform: scaleX(-1);
}

.code-editor {
  height: 40%;
}

.editor-wrapper {
  height: 100%;
}

#editor-code {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

.background__red {
  background-color: #f6484a;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: #c5fbe1;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container>input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.messages {
  display: flex;
  height: 80vh;
  /* border: 2px solid white; */
  flex-direction: column;
  margin: 1.5rem;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.message>b {
  color: #080808;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message>b>i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message>span {
  color: #1f1f1f;
  margin: 5px;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#showChat {
  display: none;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

@media (max-width: 700px) {
  .main__right {
    display: none;
  }

  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
}

.editor,
.output {
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 400;
  height: 340px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;
}

.codejar-wrap {
  width: 48%;
  margin: 1rem auto;
  background-color: transparent;
}

.codearea {
  width: 100%;
  display: flex;
}