<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Dino Jobs</title>
    <style>
      ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
      }
    </style>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <li class="active">
          <a href="home" class="has-subnav">
            <i style="height: fit-content" class="fa fa-home fa-custom"></i>
          </a>
        </li>
        <li>
          <a href="profile" class="has-subnav">
            <i style="height: fit-content" class="fa fa-user fa-custom"></i>
          </a>
        </li>
        <li>
          <a href="#" class="has-subnav">
            <i style="height: fit-content" class="fa fa-suitcase fa-custom"></i>
          </a>
        </li>
        <li>
          <a href="#" class="has-subnav">
            <i style="height: fit-content" class="fa fa-envelope fa-custom"></i>
          </a>
        </li>
      </ul>
    </nav>
    <button
      id="filter-btn"
      class="btn btn-success"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <i
        style="height: fit-content; width: fit-content"
        class="fa fa-filter"
      ></i>
    </button>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="padding-left: 6rem;">
      <a class="navbar-brand" style="margin: 0px;" href=""> <img class="logo" src="/assets/dino-logo.png" alt=""> </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active px-2">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" href="">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main">
      <div class="container-fluid" style="background-color: #ffffff">
        <div class="row pt-4">
          <div class="col-lg-3 col-md-6 col-sm-12 form-container w-20">
            <div class="input-group mb-3">
              <span
                class="input-group-text"
                style="
                  background-color: white;
                  border-right: 0px;
                  border-radius: 30px 0px 0px 30px;
                "
                id="basic-addon1"
              >
                <i class="fas fa-magnifying-glass"></i>
              </span>
              <input
                type="text"
                class="form-control"
                name="search"
                style="border-left: 0px; border-radius: 0px 30px 30px 0px"
                placeholder="Search"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 form-container w-20">
            <div class="input-group mb-3">
              <span
                class="input-group-text"
                style="
                  background-color: white;
                  border-right: 0px;
                  border-radius: 30px 0px 0px 30px;
                "
                id="basic-addon1"
              >
                <i class="fas fa-location"></i>
              </span>
              <input
                type="text"
                class="form-control"
                style="border-left: 0px; border-radius: 0px 30px 30px 0px"
                placeholder="Location"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div
            class="col-md-2 col-sm-0 p-3 border-end border-2 border-light"
            tabindex="-1"
            id="filter-parent"
            aria-labelledby="offcanvasExampleLabel"
          >
            <div id="mycol-1 p-3">
              <div
                class="offcanvas-header p-0 pb-2 mb-4 border-bottom border-2 border-light"
              >
                <h3 class="offcanvas-title" id="offcanvasExampleLabel">
                  Filters
                </h3>
                <button
                  type="button"
                  id="filter-close-button"
                  class="btn-close text-reset"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="filter-container">
                <h5 class="filter-container-head">Role</h5>
                <ul style="list-style: none; padding-left: 10px">
                  <li>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="Job"
                      id="job"
                    />
                    <label for="job">Job</label>
                  </li>
                  <li>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="internship"
                      id="internship"
                    />
                    <label for="internship">Internship</label>
                  </li>
                </ul>
              </div>
              <div class="filter-container">
                <h5 class="filter-container-head">Role Type</h5>
                <ul style="list-style: none; padding-left: 10px">
                  <li>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="Job"
                      id="job"
                    />
                    <label for="job">Full Time</label>
                  </li>
                  <li>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="internship"
                      id="internship"
                    />
                    <label for="internship">Part Time</label>
                  </li>
                  <li>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="internship"
                      id="internship"
                    />
                    <label for="internship">Project Based</label>
                  </li>
                </ul>
              </div>
              <div class="filter-container">
                <h5 class="filter-container-head">Job Type</h5>
                <ul style="list-style: none; padding-left: 10px">
                  <li>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="Job"
                      id="job"
                    />
                    <label for="job">Full Time Job</label>
                  </li>
                  <li>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="internship"
                      id="internship"
                    />
                    <label for="internship">Internship</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12 p-3">
            <div class="p-0 pb-2 mb-4 border-bottom border-2 border-light">
              <h3 class="px-4">Recommended Jobs</h3>
            </div>
            <div class="container fluid">
              <div class="row fluid">
                <% for (let i = 1; i < 36; i++) { %> <%-
                include('../partials/JobCard.ejs', {job: jobs[i.toString()], index: i.toString()}) %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/home.js"></script>
  </body>
</html>
