.right-sec {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.image-holder {
    /* position: absolute; */
    z-index: 1;
    width: 30%;
}

.image-holder img {
    width: 300%;
}

.right-card {
    z-index: 0;
    background-color: #b8f5d7;
    height: 97%;
    width: 100%;
    margin-left: auto;
    border-radius: 1rem;
}
/* ============================= */

.left-sec {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left-sec {
    direction: ltr;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-sec::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.left-sec::-webkit-scrollbar-thumb {
    background-color: #b8f5d7;
    border-radius: 10px;
}

.landing {
    padding-left: 1rem;
}

.landing h1{
    font-size: 4.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.landing p {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 1rem;
}

.get-started-btn {
    background-color: #b8f5d7;
    border-radius: 56px;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin-top: 1rem;
    border: none;
}