<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>videoChatApp</title>
  <link rel="stylesheet" href="/style.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <script src="/simplepeer.min.js"></script>
  <script>
    const ROOM_ID = "<%= roomId %>";
  </script>
</head>

<body>
  <div class="header">
    <div class="logo">
      <h3 id="userIdHeader">Video Chat</h2>
    </div>
  </div>
  <div class="main">
    <div class="main__left">
      <div class="code-editor">
        <div id="editor"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js"
          integrity="sha512-6ts6Fu561/yzWvD6uwQp3XVYwiWNpWnZ0hdeQrETqtnQiGjTfOS06W76aUDnq51hl1SxXtJaqy7IsZ3oP/uZEg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
          const editor = ace.edit("editor");
          editor.setTheme("ace/theme/monokai");
          editor.session.setMode("ace/mode/javascript");
        </script>
      </div>
      <div class="videos__group">
        <div id="video-grid">

        </div>
      </div>
      <div class="options">
        <div class="options__left">
          <button onclick="startVideo()" id="stopVideo" class="options__button">
            <i class="fa fa-video-camera"></i>
          </button>
          <button onclick="toggleMute()" id="muteButton" class="options__button">
            <i class="fa fa-microphone"></i>
          </button>
        </div>
        <div class="options__right">
          <div id="inviteButton" class="options__button">
            <i class="fas fa-user-plus"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="main__right">
      <div class="main__chat_window">
        <div class="messages">

        </div>
      </div>
      <form>
        <div class="main__message_container">
          <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here...">
          <button id="send" class="options__button" type="submit">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
<script src="/script.js"></script>

</html>